<div class="title">
    <h3 style="text-align: center;">{{ data.Title }}</h3>
</div>

<div class="content">
    <div class="left blue-text text-darken-2 text-decorator">Descripción:</div>
    <div class="right blue-text text-darken-2 text-decorator">Realizado el: {{ data.Creation_Date }}</div>
</div>

<blockquote>{{ data.Description }}</blockquote>
<div class="row">
    <div class="col s12 m8">
        <app-video-item [video]="data.Video" *ngIf="!data.OnlyImage"></app-video-item>
        <app-image-item [images]="data.Images" *ngIf="data.OnlyImage"></app-image-item>
    </div>
    <div class="col s12 m4">
        <app-built-with-item [data]="data.Built"></app-built-with-item>
    </div>
</div>