<div class="title">
    <h3 style="text-align: center;">{{ data.Title }}</h3>
</div>

<div class="content">
    <div class="left blue-text text-darken-2 text-decorator">Descripción:</div>
    <div class="right blue-text text-darken-2 text-decorator">Realizado el: {{ data.Creation_Date }}</div>
</div>

<blockquote>{{ data.Description }}</blockquote>
<div class="row">
    <div class="col s12 m8">
        <project-video-item [video]="data.Video" *ngIf="!data.OnlyImage"></project-video-item>
        <project-image-item [images]="data.Images" *ngIf="data.OnlyImage"></project-image-item>
    </div>
    <div class="col s12 m4">
        <project-built-with-item [data]="data.Built"></project-built-with-item>
    </div>
</div>