.card-panel {
    transition: box-shadow .25s;
    padding: 24px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}

.panel-img {
    position: absolute;
    top: 70px;
    width: 95%;
}

.profile-img {
    position: relative;
    width: 39%;
    z-index: 100;
}

.margin-auto {
    margin-top: 100px;
}

@media screen and (max-width: 800px) {
    .card-panel {
        transition: none;
        padding: 0;
        margin: 0;
        border-radius: 2px;
        background-color: transparent;
    }
    h3 {
        font-size: 22px;
    }
    h5 {
        font-size: 16px;
    }
    .margin-auto {
        margin-top: 0;
    }
}