<div class="col s12 margin-auto">
    <div class="center-align panel-img">
        <img [src]="'/assets/img/perfil-circular.webp'" alt="profile image" class="circle responsive-img profile-img">
    </div>
    <div class="card horizontal card-panel hoverable">
        <div class="card-stacked light-blue accent-4" style="color: white">
            <div class="card-content">
                <h3 style="margin-bottom: 0">{{ data.Name }} {{ data.Surnames }}</h3>
                <h6 style="margin: 0 0 2.168rem 0;">Systems engineering</h6>
                <div class="valign-wrapper"><i class="small material-icons" style="padding-right: 15px">assignment_ind</i>
                    <h5 style="margin: 0">{{ data.Identification }}</h5>
                </div>
                <div class="valign-wrapper"><i class="small material-icons" style="padding-right: 15px">cake</i>
                    <h5 style="margin:0">{{ data.Birth_Date }}</h5>
                </div>
                <div class="valign-wrapper"><i class="small material-icons" style="padding-right: 15px">people</i>
                    <h5 style="margin:0">{{ data.Civil_Status }}</h5>
                </div>
                <div class="valign-wrapper"><i class="small material-icons" style="padding-right: 15px">place</i>
                    <h5 style="margin:0">{{ data.Location }}</h5>
                </div>
                <div class="valign-wrapper"><i class="small material-icons" style="padding-right: 15px">email</i>
                    <h5 style="margin:0">{{ data.Mail }}</h5>
                </div>
                <div class="valign-wrapper"><i class="small material-icons" style="padding-right: 15px">phone</i>
                    <h5 style="margin:0">{{ data.Phone }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>