<div class="title">
    <div class="left">Tipo:</div>
    <div class="right">{{ data.Type }}</div>
</div>

<div class="content" *ngIf="data.Link">
    <div class="left">
        <img height="24" width="24" src="/assets/img/32/web-icon.webp">
    </div>
    <div class="right"><a [href]="data.Link" target="_blank">SITIO WEB</a></div>
</div>

<div class="content" *ngIf="data.Github">
    <div class="left">
        <img height="24" width="24" src="/assets/img/32/github-icon.webp">
    </div>
    <div class="right"><a [href]="data.Github" target="_blank">GITHUB</a></div>
</div>

<ul class="collection with-header">
    <li class="collection-header">
        <h5 style="text-align: center;">Tecnolgias Usadas</h5>
    </li>
    <li class="collection-item" *ngFor="let item of data.ListBuilt">
        <div>{{ item.Name }}
            <a class="secondary-content"><img height="24" width="24" [src]="'/assets/img/32/'+item.Image" /></a>
        </div>
    </li>
</ul>