<header>
    <div class="navbar-fixed">
        <nav class="nav-extended deep-purple darken-4">
            <div class="nav-wrapper">
                <a [routerLink]="['/']" class="brand-logo logo">David Campos Ch.</a>
                <a [routerLink]="['/']" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="brand-logo center hide-on-med-and-down tabs tabs-transparent">
                    <li class="tab"><a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Curriculum</a></li>
                    <li class="tab"><a [routerLink]="['/projects']" [routerLinkActive]="['active']">Proyectos</a></li>
                    <li class="tab"><a [routerLink]="['/certifications']" [routerLinkActive]="['active']">Titulos</a>
                    </li>
                    <li class="tab"><a [routerLink]="['/references']" [routerLinkActive]="['active']">Referencias</a></li>
                </ul>
                <a (click)="DowmloadPDF()" class="right contacto waves-effect waves-light tooltipped" data-position="left" data-tooltip="Descargar Curriculum" #download><i class="material-icons"
            style="font-size: 3rem;">archive</i></a>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo" #sidenav>
        <li><a [routerLink]="['/']">Curriculum</a></li>
        <li><a [routerLink]="['/projects']">Proyectos</a></li>
        <li><a [routerLink]="['/certifications']">Titulos</a></li>
        <li><a [routerLink]="['/references']">Referencias</a></li>
    </ul>
</header>
<a #downloadZipLink style="display: none"></a>