.tabs {
    width: auto;
    height: 100%;
}

.tabs .tab {
    line-height: unset;
    height: 100%;
}

.contacto {
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.logo {
    padding-left: 1rem;
}

nav {
    box-shadow: none;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: rgba(0, 0, 0, 0.1);
}