.banner {
    top: 0;
    width: 100%;
    height: 180px;
    position: absolute;
    top: auto;
}

.muestra {
    height: 100px;
    width: 300px;
    background-color: blue;
    background: blue;
}

.programming {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  padding-top: 0.1rem;
  padding-bottom: 0.75rem;
  margin-bottom: 0;
  color: white;
}

.titulo {
    padding-left: 0.75rem;
}
