span.badge.new:after {
    content: "";
}

.contorno {
    margin: 6px;
}

span {
    font-weight: bold;
}

span.badge.new {
    font-weight: bold;
}

span.badge {
    height: auto;
}


/* border-bottom: 1px solid #e0e0e0;
}
 */
