<div class="collection">
    <div class="row collection-item" style="margin: 2px;">
        <div class="col s9 push-s3">
            <span class="badge">1dsd</span><span class="badge grey darken-3 new">4 dasd</span><span class="new badge deep-orange darken-4">4</span>
            <span class="badge blue lighten-5 new">4 dasd</span><span class="new badge indigo darken-4">4</span>
            <span class="badge teal accent-4 new">4 dasd</span><span class="new badge blue lighten-5">4</span>
            <span class="badge blue lighten-5 new">4 dasd</span><span class="new badge blue lighten-5">4</span>
            <span class="badge light-blue darken-4 new">4 dasd</span><span class="new badge blue lighten-5">4</span>
        </div>
        <div class="col s3 pull-s9"><span class="flow-text">Bases de Datos</span></div>
    </div>
    <div class="row collection-item" style="margin: 2px;">
        <div class="col s9 push-s3">
            <span class="badge">1dsd</span><span class="badge red new">4 dasd</span><span class="new badge red">4</span>
            <span class="badge red new">4 dasd</span><span class="new badge red">4</span>
            <span class="badge red new">4 dasd</span><span class="new badge red">4</span>
            <span class="badge red new">4 dasd</span><span class="new badge red">4</span>
            <span class="badge red new">4 dasd</span><span class="new badge red">4</span>
        </div>
        <div class="col s3 pull-s9"><span class="flow-text">lenguajes</span></div>
    </div>
    <div class="row collection-item" style="margin: 2px;">
        <div class="col s9 push-s3">
            <span class="badge">1dsd</span><span class="badge red new">4 dasd</span><span class="new badge red">4</span>
            <span class="badge red new">4 dasd</span><span class="new badge red">4</span>
            <span class="badge red new">4 dasd</span><span class="new badge red">4</span>
            <span class="badge red new">4 dasd</span><span class="new badge red">4</span>
            <span class="badge red new">4 dasd</span><span class="new badge red">4</span>
        </div>
        <div class="col s3 pull-s9"><span class="flow-text">Modelos de programacion</span></div>
    </div>
</div>