.title {
    border-radius: 3px 3px 3px 3px;
    padding: 4px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: linear-gradient(45deg, #303f9f, #7b1fa2);
    color: white;
    display: list-item;
    margin-bottom: 0.5rem;
}

.content {
    display: flow-root;
}

h5 {
    font-size: 1.1rem;
}
