<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="valign-wrapper" style="position: absolute; height: 36px;">
                <span class="">© Copyright 2019 - {{year}}</span>
            </div>
            <a class="grey-text text-lighten-4 right" href="https://github.com/dabakura">
                <div class="valign-wrapper">
                    <object data="/assets/img/git.svg" type="image/svg+xml" style="height: 32px;">
            <!-- Imagen alternativa si el SVG no puede cargarse -->
            <img src="/assets/img/Octocat.png" alt="Imagen PNG alternativa" height="32">
          </object>&nbsp;Github
                </div>
            </a>
        </div>
    </div>
</footer>