.banner {
    top: 0;
    width: 100%;
    height: 180px;
    position: absolute;
    top: auto;
}

.muestra {
    height: 100px;
    width: 300px;
    background-color: blue;
    background: blue;
}

.programming {
    padding-top: 0.1rem;
    padding-bottom: 3.75rem;
    margin-bottom: 0;
    color: white;
    transform: skew(0deg, -4deg);
}

.titulo {
    padding-left: 0.75rem;
}

span.badge.new:after {
    content: "";
}

.progra {
    transform: skew(0deg, 4deg) translateY(60px);
    margin-bottom: 3.75rem;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    background-color: #3f72af;
}

.framework {
    padding-top: 0.1rem;
    padding-bottom: 3.75rem;
    margin-bottom: 0;
    color: white;
}

.technologies {
    transform: skew(0deg, 4deg) translateY(60px);
    background-color: white;
}

.frame {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    background-color: #21D4FD;
    padding-top: 54px;
}

.technologies .container {
    transform: skew(0deg, -4deg);
    padding-bottom: 3.75rem;
}

.row {
    margin-bottom: 0;
}