<header>
  <!--<nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Curriculum</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>-->
  <nav class="nav-extended deep-purple darken-4">
    <div class="nav-wrapper">
      <a [routerLink]="['/']" class="brand-logo">David Campos Ch.</a>
      <a [routerLink]="['/']" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="brand-logo center hide-on-med-and-down tabs tabs-transparent">
        <li class="tab"><a [routerLink]="['/']" [routerLinkActive]="['active']">Curriculum</a></li>
        <li class="tab"><a [routerLink]="['/counter']" [routerLinkActive]="['active']" href="#test2">Proyectos</a></li>
        <li class="tab"><a [routerLinkActive]="['active']" href="#test3">Titulos</a></li>
        <li class="tab"><a [routerLinkActive]="['active']" href="#test4">Referencias</a></li>
      </ul>
      <a [routerLink]="['/']" class="right">Logo1</a>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">JavaScript</a></li>
  </ul>
</header>
